<div class="container mt-4">
  <div class="row">
    <h3>Hola mi nombre es {{ nombre }}</h3>
    <h3>La suma de 2 + 5 = {{ getSuma(2, 5) }}</h3>
    <hr>
    <!--Para los atributos de HTML es recomendable usar property binding-->
    <!--funciona igual asi: placeholder="{{textoPlaceHolder}}"-->
    <input type="text" class="form-control" [placeholder]="textoPlaceHolder" [disabled]="deshabilitado" style="width: 50%;">
    <!--<img [src]="imgSrc" alt="Img" width="100px" height="400px" style="width: 50%;">-->
  </div>
</div>
<hr>
<hr>
<div class="container mt-3">
  <h3>{{ textoEventBinding }}</h3>
  <button class="btn btn-primary" (click)="cambiarTexto()">Press me</button>
  <hr>
  <!--a esto => [()] se lo llama banana inbox-->
  <input type="text" class="form-control" [(ngModel)]="textoTwoWayDataBinding" placeholder="escriba algo aqui..." style="width: 50%;">
  {{textoTwoWayDataBinding}}
</div>
<hr>
<hr>
<div class="container">
  <h3>Listado de estudiantes</h3>
  <button class="btn btn-success" (click)="toogle()">Toogle</button>
  <br>
  <table class="table" *ngIf="mostrar">
    <thead>
      <th>Nro</th>
      <th>Nombre</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of listaEstudiantes; let i = index" [ngSwitch]="estudiante.estado"> <!--i es parametro opcional-->
        <td>{{i + 1}}</td>
        <td>
          <!--[ngClass]="estudiante.estado === 'Reprobado' ? 'badge bg-danger' : 'badge bg-secondary'"-->
          <span *ngSwitchCase="'Promocionado'" class="badge bg-success">
            {{estudiante.nombre}}
          </span>
          <span *ngSwitchCase="'Regular'" class="badge bg-primary">
            {{estudiante.nombre}}
          </span>
          <span *ngSwitchCase="'Reprobado'" class="badge bg-danger">
            {{estudiante.nombre}}
          </span>
          <span *ngSwitchCase="'Ausente'" class="badge bg-secondary">
            {{estudiante.nombre}}
          </span>
        </td>
        <td [ngStyle]="{ 'font-style': estudiante.estado === 'Promocionado' ? 'italic' : 'normal' }">{{estudiante.estado}}</td>
      </tr>
    </tbody>
  </table>
  <h3 *ngIf="listaEstudiantes.length === 0">No hay registros en la tabla</h3>
  <hr>
</div>