<div class="container mt-5">
    <div *ngIf="loading" class="d-flex justify-content-center mb-5">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loading" class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Registrar usuario</h3>
                    <form [formGroup]="registrarForm" (ngSubmit)="registrarUsuario()">
                        <div class="mb-3">
                            <input type="text" formControlName="email" class="form-control" placeholder="Email">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('email')?.hasError('required') && registrarForm.get('email')?.touched">
                                El email <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('email')?.hasError('email') && registrarForm.get('email')?.touched">
                                El email <strong>es invalido</strong>
                            </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('password')?.hasError('required') && registrarForm.get('password')?.touched">
                                La constraseña <strong>es requerida</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('password')?.hasError('minlength') && registrarForm.get('password')?.touched">
                                La constraseña debe tener <strong>mínimo 6 caracteres</strong>
                            </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="repetirPassword" class="form-control" placeholder="Repetir contraseña">
                            <span class="text-danger" *ngIf="registrarForm.hasError('notSame')">
                                Las contraseñas <strong>no coinciden</strong>
                            </span>
                        </div>
                        <button routerLink="/usuario" class="btn btn-secondary">Volver</button>
                        <button type="submit" [disabled]="registrarForm.invalid" class="btn btn-primary float-end">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
