<div class="contenedor"> <!--va *ngIf="loading"-->
    <app-spinner></app-spinner>
</div>

<div class="contenedor"> <!--va *ngIf="!loading"-->
    <div *ngIf="error" class="alert alert-danger" role="alert">
        <strong>{{ errorText }}</strong>
    </div>
    <input [(ngModel)]="pin" type="text" class="form-control input-ingresar mb-3" placeholder="PIN del juego">
    <button (click)="ingresar()" class="btn-ingresar btn-principal">Ingresar</button>
</div>
<div class="fixed-bottom">
    <p class="text-center text">
        Crea tu propio cuestionario
        <a class="link" routerLink="/usuario">aqui</a>
    </p>
</div>